@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Regular"), local("Gilroy-Regular"), url("fonts/Gilroy-Regular.woff2") format("woff2"),
        url("fonts/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    font-family: "Gilroy";
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

body.look{
    overflow: hidden;
}

.wrapper {
    margin: 0 15%;
}

.header {
    height: 768px;
    background: linear-gradient(0deg, #98c3e838 8.84%, rgba(152, 195, 232, 0) 31.12%);

    &__top{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 84px;
    }
    &__topnav {
        transition: all 0.8s ease 0.2s;
    }
   
    &__logo{
        opacity: 0;
        transform: translate(-200px, 0px);
        transition: all 0.8s ease 0.2s;
    }
    &__logo._active{
        opacity: 1;
        transform: translate(0px, 0px);
    }

    &__nav {
       
    }
    
    &__close{
        display: none;
    }
    &__burger {
        display: none;
    }

    &__bottom {
        position: relative;
    }

    &__title {
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 0.04em;
        color: #1f3f68;
        width: 600px;
        padding-top: 110px;
        margin-bottom: 32px;
        opacity: 0;
        transform: translate(0px, 200px);
        transition: all 0.8s ease 0.2s;
    }
    &__title._active{
        opacity: 1;
        transform: translate(0px, 0px);
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1f3f68;
        width: 425px;
        margin-bottom: 70px;
        opacity:0;
        transform: translate(0px, 200px);
        transition: all 0.8s ease 0.4s;
    }
    &__text._active{
        opacity: 1;
        transform: translate(0px, 0px);
    }

    &__button {
        height: 56px;
        width: 220px;
        border-radius: 10px;
        background: #5a98d0;
        color: white;
        opacity: 0;
        transform: translate(0px, 200px);
        transition: all 0.8s ease 0.4s;
    }
    &__button._active{
        opacity: 1;
        transform: translate(0px, 0px);
    }

    &__bg-img {
        position: absolute;
        right: -18%;
        top: 0;
        z-index: -1;
        opacity: 0;
        transform: translate(200px, 0px);
        transition: all 0.8s ease 0.4s;
    }
    &__bg-img._active {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
.menu {
    &__link {
        font-size: 18px;
        padding: 0 10px;
        text-transform: uppercase;
        color: #356ead;
        cursor: pointer;
    }
}

.what-we-do {
    margin-top: 197px;
    display: flex;
    justify-content: end;
    position: relative;
    align-items: center;
    &__title {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #316099;
        width: 360px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transform: translate(-200px, 0px);
        transition: all 0.8s ease 0.2s;
    }
    &__title._active{
        opacity: 1;
        transform: translate(0px, 0px);
    }
    &__container-cards:nth-child(2) {
        opacity: 0;
        transform: translate(400px, 0px);
        transition: all 0.8s ease 0.2s;
    }
    &__container-cards:nth-child(3) {
        opacity: 0;
        transform: translate(400px, 0px);
        transition: all 0.8s ease 0.4s;
    }
    &__container-cards:nth-child(2)._active {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    &__container-cards:nth-child(3)._active {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    

    &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__card-content {
        //height: 525px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        width: 380px;
        padding: 48px;
        margin-left: 100px;
        margin-bottom: 100px;
    }
}
.card {
    &__main-img {
        display: flex;
        justify-content: center;
        margin-bottom: 56px;
    }

    &__title {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        font-weight: 600;
        color: #1f3f68;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1f3f68;
        opacity: 0.6;
        margin-bottom: 32px;
    }

    &__link {
        display: flex;
    }
    &__link a {
        margin-right: 28px;
        color: #5a98d0;
    }
    &__link img {
    }
}

.our-project {
    background: #5a98d0;
    border-radius: 200px 0px 0px 0px;
    &__body {
    }
    &__top {
        display: flex;
        align-items: center;
        padding-top: 96px;
        padding-bottom: 124px;
    }

    &__title {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: white;
        max-width: 224px;
        margin-right: 98px;
       
        transform: translate(-400px, 0px);
        transition: all 0.8s ease 0.2s;
    }
    &__title._active{
        opacity: 1;
        transform: translate(0px, 0px);
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        max-width: 540px;
        color: white;
        opacity: 0;
        transform: translate(400px, 0px);
        transition: all 0.8s ease 0.2s;
    }

    &__text._active{
        opacity: 1;
        transform: translate(0px, 0px);
    }

    &__bottom {
       padding-bottom: 125px;
        
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transform: scale(3);
        transition: all 0.8s ease 0.2s;
    }
    &__nav._active{
        opacity: 1;
        transform: scale(1);
    }

    &__link {
        padding: 44px;
        color: white;
        font-weight: 500;
    }
    &__link:hover {
        background-color: #1f3f683d;
        
    }
    &__link:nth-child(1) {
        border-bottom: 2px solid rgba(255, 255, 255, 0.253);
        border-right: 2px solid  rgba(255, 255, 255, 0.253);
    }
    &__link:nth-child(2) {
        border-bottom: 2px solid  rgba(255, 255, 255, 0.253);
        border-right: 2px solid  rgba(255, 255, 255, 0.253);
    }
    &__link:nth-child(3) {
        border-bottom: 2px solid  rgba(255, 255, 255, 0.253);
        border-right: 2px solid  rgba(255, 255, 255, 0.253);
    }
    &__link:nth-child(4) {
        border-bottom: 2px solid  rgba(255, 255, 255, 0.253);
    }
    &__link:nth-child(5) {
        border-right: 2px solid  rgba(255, 255, 255, 0.253);
    }
    &__link:nth-child(6) {
        border-right: 2px solid  rgba(255, 255, 255, 0.253);
    }
    &__link:nth-child(7) {
        border-right: 2px solid  rgba(255, 255, 255, 0.253);
    }
}
.footer {
    background: #5A98D0;
    &__body {
        background: #316099;
        border-radius: 0px 200px 0px 0px;
        width: 95%;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10% 0 15%;
    }

    &__top-container {
        margin: 90px 0 96px 0;
        
    }

    &__top-title {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: white;
        width: 320px;
        margin-bottom: 32px;
        opacity: 0;
        transform: translate(-400px, 0px);
        transition: all 0.8s ease 0.2s;
    }
    &__top-title._active{
        opacity: 1;
        transform: translate(0px, 0px);
   
    }
    &__top-text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: white;
        opacity: 0;
        width: 460px;
        transition: all 0.8s ease 0.4s;
        transform: translate(-400px, 0px);
    }
    
    &__top-text._active {
        opacity: 0.6;
        transform: translate(0px, 0px);
    }
    
    &__top-button button{
        width: 220px;
        height: 56px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.04em;
        height: 56px;
        width: 220px;
        background: #5A98D0;
        border-radius: 10px;
        color: white;
        
    }
    &__top-button{
        transition: all 0.8s ease 0.4s;
        transform: translate(400px, 0px);
        opacity: 0;
    }
    &__top-button._active{
        transform: translate(0px, 0px);
        opacity: 1;

    }


    &__line {
        width:90%;
        height: 1px;
        background-color: white;
        opacity: 0.6;
    }

    &__bottom {
        padding: 96px 20% 0 15%;
        display: flex;
        justify-content: space-between;
        transition: all 0.8s ease 0.4s;
        transform: translate(0px, -400px);
        opacity: 0;
        justify-content: center;
    }
    &__bottom._active {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    &__bottom-column {
        
    }

    &__logo {
        display: flex;
        margin-bottom: 32px;
    }

    &__logo-text {
        font-size: 28px;
        line-height: 46px;
        letter-spacing: 0.02em;
        color: white;
        font-weight: 500;
        margin-left: 15px;
    }

    &__container-text {
        display: flex;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: white; 
        width: 264px;
    }

    &__bottom-letter {
        margin-right: 16px;
    }

    &__bottom-text {
        margin-bottom: 24px;
        
    }

    &__bottom-title {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        font-weight: 500;
        color: white;
        margin-bottom: 32px;
    }

    &__bottom-link {
        display: flex;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        margin-bottom: 16px;
        color: white;
    }
    &__privet{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: white;
        opacity: 0.6;
        padding: 64px 0;
    }
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
    
    &__close{
        position: absolute;
        top: 15px;
        right: 30px;
        display: inline-block;
        font-size: 44px;
        color: #1F3F68;
        transform: rotate(45deg);
        
    }
    
    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0); 
        background: #fff;
        width: 540px;
        padding: 56px;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        transition: 0.5s all;
    }
    &__title {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        font-weight: 600;
        margin-bottom: 48px;
    }

    &__container-input {
        
    }

    &__text {
        color: #1F3F68;
        margin-bottom: 8px;
    }

    &__input {
        height: 62px;
        opacity: 0.4;
        border: 1px solid #356EAD;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 32px;
        padding: 21px 36px;
        color: #1F3F68;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.04em;

    } 
    &__input.input-message{
        height: 134px;
        overflow: hidden;
        resize: none;
    }
   
    &__button button{
        height: 72px;
        width: 100%;
        text-align: center;
        color: white;
        background: #5A98D0;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        text-transform: uppercase;
    }
}
.popup.active{
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}
.popup__content.active{
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}
@media screen and (max-width:1200px) {
    .what-we-do__card-content{
        margin-left: 50px;
        margin-bottom: 50px;
    }
    .our-project__title{
        min-width: 224px;
    }
    .wrapper{
        margin: 0 10%;
    }
    .what-we-do{
        margin-top: 100px;
    }

    .our-project__title{
        min-width: 224px;
    }
}

@media screen and (max-width:960px) {
    .what-we-do{
        display: flex;
        flex-direction: column;
    }
    .what-we-do__title{
        position: relative;
        text-align: center;
        margin-bottom: 40px;
        width: auto;
    }
    .what-we-do__card{
        margin-bottom: 60px;
    }
    .what-we-do__card-content{
        margin: 0 auto;
    }
    .our-project__link{
        padding: 30px;
    }
    .our-project__top{
        flex-direction: column;
        padding: 80px 0;
    }
    .our-project__title{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .our-project__text{
        text-align: center;
    }
    .footer__top{
        flex-direction: column;
    }
    .footer__top-title{
        margin: 0 auto;
        text-align: center;
    }
    .footer__top-text{
        text-align: center;
        margin-top: 20px;
    }
    .footer__top-container{
        margin: 60px 0;
    }
    .footer__top-button{
        margin-bottom: 60px;
    }
    .footer__bottom{
        padding:96px 10% 0 10%;
    }
    
    .footer__bottom-title{
        margin-bottom: 16px;
    }
    .footer__bottom-link{
        padding: 0 10px;
    }
}
@media screen and (max-width:720px){
    .header{
        height: 680px;
    }
    .header__title{
        max-width: 400px;
        font-size: 46px;
        padding-top: 60px;
    }
    .what-we-do__title{
        font-size: 28px;
    }
    
    .header__text{
        max-width: 425px;
    }
    .header__bg-img{
        width: 500px;
    }
    .our-project{
        border-radius: 100px 0px 0px 0px;
    }
    .our-project__link{
        padding: 30px 15px;
    }
    .footer__body{
        width: 100%;
        border-radius: 0px 100px 0px 0px;
    }
    
   
    .footer__bottom{
        flex-direction: column;
    }
    .header__burger{
        display: block;
    }
    .header__close{
        display: block;
    }
    .header__topnav{
        flex-direction: column;
        justify-content: center;
        height: 0;
        margin: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: #5a98d0;
        overflow-x: hidden;
    }
    .header__burger{
        position: absolute;
        top: 40px;
        right: 40px;

    }
    .header__burger img{
        width: 24px;
    }
    .header__logo{
        position: absolute;
        top: 30px;
        left: 40px;
    }
    .header__close{
        position: absolute;
        font-size: 34px;
        top: 30px;
        right: 40px;
        color: white;
        cursor: pointer;
    }
    .header__nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .menu__link{
        margin: 20px 0;
        text-align: center;
        font-weight: 600px;
        font-size: 36px;
    }
    .menu__link:hover{
        color: white;
    }
    
    .footer__bottom-column-container{
        justify-content: space-between;
    }
    .footer__bottom-link{
        padding: 0;
    }
    .footer__bottom{
        padding: 96px 15% 0 15%
    }
}
@media screen and (max-width:580px){
    .popup__content{
        width: 420px;
        padding: 32px;
    }
    .popup__title{
        margin-bottom: 30px;
    }
    .popup__input{
        margin-bottom: 20px;
    }

}
@media screen and (max-width:420px){
    .what-we-do__card-content{
        width: 320px;
    }
    .card__title{
        font-size: 16px;
    }
    .card__text{
        font-size: 14px;
    }
    .what-we-do__card-content{
        padding: 30px;
    }
    .header__text{
        max-width: 320px;
    }
    .header__bg-img{
        width: 400px;
    }
    .header__title{
        font-size: 36px;
        max-width: 320px;
        line-height: 50px;
    }
    .header__text{
        max-width: 280px;
        margin-bottom: 40px;
    }
    .header{
        height: 600px;
    }
    .header__title{
        padding-top: 40px;
    }
    .footer__top-title{
        font-size: 28px;
        width: 280px;
    }
    .footer__top-text{
        font-size: 16px;
        width: 280px;
    }
    .footer__privet{
        padding: 32px 0;
    }
    .popup__content{
        width: 320px;
        padding: 32px;
    }
    .popup__input.input-message{
        height: 100px;
    }
    .popup__title{
        margin-bottom: 24px;
    }
}