@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("fonts/Gilroy-Regular.woff2") format("woff2"), url("fonts/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-family: "Gilroy";
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body.look {
  overflow: hidden;
}

.wrapper {
  margin: 0 15%;
}

.header {
  height: 768px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, rgba(152, 195, 232, 0.2196078431)), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, rgba(152, 195, 232, 0.2196078431) 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.header__top {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 84px;
}
.header__topnav {
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.header__logo {
  opacity: 0;
  -webkit-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.header__logo._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.header__close {
  display: none;
}
.header__burger {
  display: none;
}
.header__bottom {
  position: relative;
}
.header__title {
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  width: 600px;
  padding-top: 110px;
  margin-bottom: 32px;
  opacity: 0;
  -webkit-transform: translate(0px, 200px);
          transform: translate(0px, 200px);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.header__title._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.header__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  width: 425px;
  margin-bottom: 70px;
  opacity: 0;
  -webkit-transform: translate(0px, 200px);
          transform: translate(0px, 200px);
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}
.header__text._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.header__button {
  height: 56px;
  width: 220px;
  border-radius: 10px;
  background: #5a98d0;
  color: white;
  opacity: 0;
  -webkit-transform: translate(0px, 200px);
          transform: translate(0px, 200px);
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}
.header__button._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.header__bg-img {
  position: absolute;
  right: -18%;
  top: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translate(200px, 0px);
          transform: translate(200px, 0px);
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}
.header__bg-img._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.menu__link {
  font-size: 18px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #356ead;
  cursor: pointer;
}

.what-we-do {
  margin-top: 197px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.what-we-do__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #316099;
  width: 360px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.what-we-do__title._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.what-we-do__container-cards:nth-child(2) {
  opacity: 0;
  -webkit-transform: translate(400px, 0px);
          transform: translate(400px, 0px);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.what-we-do__container-cards:nth-child(3) {
  opacity: 0;
  -webkit-transform: translate(400px, 0px);
          transform: translate(400px, 0px);
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}
.what-we-do__container-cards:nth-child(2)._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.what-we-do__container-cards:nth-child(3)._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.what-we-do__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.what-we-do__card-content {
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  width: 380px;
  padding: 48px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.card__main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56px;
}
.card__title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #1f3f68;
  margin-bottom: 16px;
}
.card__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  margin-bottom: 32px;
}
.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__link a {
  margin-right: 28px;
  color: #5a98d0;
}
.our-project {
  background: #5a98d0;
  border-radius: 200px 0px 0px 0px;
}
.our-project__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 96px;
  padding-bottom: 124px;
}
.our-project__title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: white;
  max-width: 224px;
  margin-right: 98px;
  -webkit-transform: translate(-400px, 0px);
          transform: translate(-400px, 0px);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.our-project__title._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.our-project__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  max-width: 540px;
  color: white;
  opacity: 0;
  -webkit-transform: translate(400px, 0px);
          transform: translate(400px, 0px);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.our-project__text._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.our-project__bottom {
  padding-bottom: 125px;
}
.our-project__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.our-project__nav > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.our-project__nav > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.our-project__nav > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.our-project__nav > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.our-project__nav > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.our-project__nav > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.our-project__nav > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.our-project__nav > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.our-project__nav._active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.our-project__link {
  padding: 44px;
  color: white;
  font-weight: 500;
}
.our-project__link:hover {
  background-color: rgba(31, 63, 104, 0.2392156863);
}
.our-project__link:nth-child(1) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.253);
  border-right: 2px solid rgba(255, 255, 255, 0.253);
}
.our-project__link:nth-child(2) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.253);
  border-right: 2px solid rgba(255, 255, 255, 0.253);
}
.our-project__link:nth-child(3) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.253);
  border-right: 2px solid rgba(255, 255, 255, 0.253);
}
.our-project__link:nth-child(4) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.253);
}
.our-project__link:nth-child(5) {
  border-right: 2px solid rgba(255, 255, 255, 0.253);
}
.our-project__link:nth-child(6) {
  border-right: 2px solid rgba(255, 255, 255, 0.253);
}
.our-project__link:nth-child(7) {
  border-right: 2px solid rgba(255, 255, 255, 0.253);
}

.footer {
  background: #5A98D0;
}
.footer__body {
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  width: 95%;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10% 0 15%;
}
.footer__top-container {
  margin: 90px 0 96px 0;
}
.footer__top-title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: white;
  width: 320px;
  margin-bottom: 32px;
  opacity: 0;
  -webkit-transform: translate(-400px, 0px);
          transform: translate(-400px, 0px);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.footer__top-title._active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.footer__top-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: white;
  opacity: 0;
  width: 460px;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
  -webkit-transform: translate(-400px, 0px);
          transform: translate(-400px, 0px);
}
.footer__top-text._active {
  opacity: 0.6;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.footer__top-button button {
  width: 220px;
  height: 56px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  height: 56px;
  width: 220px;
  background: #5A98D0;
  border-radius: 10px;
  color: white;
}
.footer__top-button {
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
  -webkit-transform: translate(400px, 0px);
          transform: translate(400px, 0px);
  opacity: 0;
}
.footer__top-button._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.footer__line {
  width: 90%;
  height: 1px;
  background-color: white;
  opacity: 0.6;
}
.footer__bottom {
  padding: 96px 20% 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
  -webkit-transform: translate(0px, -400px);
          transform: translate(0px, -400px);
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__bottom._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}
.footer__logo-text {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: white;
  font-weight: 500;
  margin-left: 15px;
}
.footer__container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: white;
  width: 264px;
}
.footer__bottom-letter {
  margin-right: 16px;
}
.footer__bottom-text {
  margin-bottom: 24px;
}
.footer__bottom-title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: white;
  margin-bottom: 32px;
}
.footer__bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
  color: white;
}
.footer__privet {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: white;
  opacity: 0.6;
  padding: 64px 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.popup__close {
  position: absolute;
  top: 15px;
  right: 30px;
  display: inline-block;
  font-size: 44px;
  color: #1F3F68;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 540px;
  padding: 56px;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.popup__title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  font-weight: 600;
  margin-bottom: 48px;
}
.popup__text {
  color: #1F3F68;
  margin-bottom: 8px;
}
.popup__input {
  height: 62px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 32px;
  padding: 21px 36px;
  color: #1F3F68;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.popup__input.input-message {
  height: 134px;
  overflow: hidden;
  resize: none;
}
.popup__button button {
  height: 72px;
  width: 100%;
  text-align: center;
  color: white;
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  text-transform: uppercase;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__content.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

@media screen and (max-width: 1200px) {
  .what-we-do__card-content {
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .our-project__title {
    min-width: 224px;
  }

  .wrapper {
    margin: 0 10%;
  }

  .what-we-do {
    margin-top: 100px;
  }

  .our-project__title {
    min-width: 224px;
  }
}
@media screen and (max-width: 960px) {
  .what-we-do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .what-we-do__title {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    width: auto;
  }

  .what-we-do__card {
    margin-bottom: 60px;
  }

  .what-we-do__card-content {
    margin: 0 auto;
  }

  .our-project__link {
    padding: 30px;
  }

  .our-project__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0;
  }

  .our-project__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .our-project__text {
    text-align: center;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__top-title {
    margin: 0 auto;
    text-align: center;
  }

  .footer__top-text {
    text-align: center;
    margin-top: 20px;
  }

  .footer__top-container {
    margin: 60px 0;
  }

  .footer__top-button {
    margin-bottom: 60px;
  }

  .footer__bottom {
    padding: 96px 10% 0 10%;
  }

  .footer__bottom-title {
    margin-bottom: 16px;
  }

  .footer__bottom-link {
    padding: 0 10px;
  }
}
@media screen and (max-width: 720px) {
  .header {
    height: 680px;
  }

  .header__title {
    max-width: 400px;
    font-size: 46px;
    padding-top: 60px;
  }

  .what-we-do__title {
    font-size: 28px;
  }

  .header__text {
    max-width: 425px;
  }

  .header__bg-img {
    width: 500px;
  }

  .our-project {
    border-radius: 100px 0px 0px 0px;
  }

  .our-project__link {
    padding: 30px 15px;
  }

  .footer__body {
    width: 100%;
    border-radius: 0px 100px 0px 0px;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__burger {
    display: block;
  }

  .header__close {
    display: block;
  }

  .header__topnav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #5a98d0;
    overflow-x: hidden;
  }

  .header__burger {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .header__burger img {
    width: 24px;
  }

  .header__logo {
    position: absolute;
    top: 30px;
    left: 40px;
  }

  .header__close {
    position: absolute;
    font-size: 34px;
    top: 30px;
    right: 40px;
    color: white;
    cursor: pointer;
  }

  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }

  .menu__link {
    margin: 20px 0;
    text-align: center;
    font-weight: 600px;
    font-size: 36px;
  }

  .menu__link:hover {
    color: white;
  }

  .footer__bottom-column-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__bottom-link {
    padding: 0;
  }

  .footer__bottom {
    padding: 96px 15% 0 15%;
  }
}
@media screen and (max-width: 580px) {
  .popup__content {
    width: 420px;
    padding: 32px;
  }

  .popup__title {
    margin-bottom: 30px;
  }

  .popup__input {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 420px) {
  .what-we-do__card-content {
    width: 320px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__text {
    font-size: 14px;
  }

  .what-we-do__card-content {
    padding: 30px;
  }

  .header__text {
    max-width: 320px;
  }

  .header__bg-img {
    width: 400px;
  }

  .header__title {
    font-size: 36px;
    max-width: 320px;
    line-height: 50px;
  }

  .header__text {
    max-width: 280px;
    margin-bottom: 40px;
  }

  .header {
    height: 600px;
  }

  .header__title {
    padding-top: 40px;
  }

  .footer__top-title {
    font-size: 28px;
    width: 280px;
  }

  .footer__top-text {
    font-size: 16px;
    width: 280px;
  }

  .footer__privet {
    padding: 32px 0;
  }

  .popup__content {
    width: 320px;
    padding: 32px;
  }

  .popup__input.input-message {
    height: 100px;
  }

  .popup__title {
    margin-bottom: 24px;
  }
}